/* when you scroll */
.bg-white {
    transition: background 600ms;
}

.navbar-brand{
    font-family: monospace;
    font-size: 50px;
}

.navbar-nav {
    font-size: 20px;
    font-family:  monospace;
}

.pointer {
    cursor: pointer;
}

.text-body:hover {
    text-decoration: none;
}